.app {
  min-height: 100vh;
  background: blue;
}

.header {
  background: #363d44;
  color: rgb(236, 71, 33);
}

.header .loginButton {
  float: right;
  margin: 0;
  padding: 0;
}

.body {
  background: #faf8f6;
  word-wrap: break-word;
  margin: 0 0 0 150px;
  padding: 10px;
  height: 100vh;
}
.navbar-left {
  background-color: #e7e7e7;
  border-right: 1px solid black;
  float: left;
  width: 150px;
  height: 100vh;
}
.navList {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px 20px 10px 20px;
} 
.navList li {
  color: black;
  margin: 0 0 10px 0;
}